#table {
    padding-top: 20px;
    padding-right: 20px;
}
#table tr {
    width: 180px;
}
#table tr td {
    line-height: 30px;
    width: 200px;
    text-align: center;
}
#table input[type="text"] {
    font-size: 20px;
    line-height: 20px;
}
#table button[type="submit"] {
    width: 70px;
    height: 20px;
}
#text, #msgTxt {
    text-align: center;
    font-size: 20px;
    color: black;
    animation: changeshadow 1s  ease-in  infinite ;
}
#msgTxt {
    display: none;
}
@keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #4cc134}
    50%{ text-shadow: 0 0 40px #4cc134}
    100%{ text-shadow: 0 0 4px #4cc134}
}
/* 添加兼容性前缀 */
@-webkit-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #4cc134}
    50%{ text-shadow: 0 0 40px #4cc134}
    100%{ text-shadow: 0 0 4px #4cc134}
}
@-moz-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #4cc134}
    50%{ text-shadow: 0 0 40px #4cc134}
    100%{ text-shadow: 0 0 4px #4cc134}
}
@-ms-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #4cc134}
    50%{ text-shadow: 0 0 40px #4cc134}
    100%{ text-shadow: 0 0 4px #4cc134}
}
@-o-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #4cc134}
    50%{ text-shadow: 0 0 40px #4cc134}
    100%{ text-shadow: 0 0 4px #4cc134}
}
