*{
	padding: 0;
	margin: 0;
	
}
#mai{
	height: 100px;	
	margin-top:20px;

}
.main_left{
	float: left;
	width: 100px;	
	margin-left: 60px;
	background: url(../img/logo.jpg) no-repeat center center fixed;
}
.img{
	width: 120px;
	height: 60px;
}
.main_right{
	width: 1000px;
	margin-left:200px;
	margin-top:20px ;
}
ul{
	width: 1000px;
	float: left;
	margin: 0 20px 0 20px;
}
ul li{
	list-style: none;
	float: left;
	display: block;	
	margin-left: 70px;
	cursor: pointer;
	position: relative;

}
ul li a{
	text-decoration: none;
	display:block; /* 将链接设为块级元素 */
	width:120px;
	height:40px; /* 设置高度 */
	line-height:40px; /* 设置行高，将行高和高度设置同一个值，可以让单行文本垂直居中 */
	text-align:center; /* 居中对齐文字 */
	background:burlywood;  /* 设置背景色 */
	color:#fff; /* 设置文字颜色 */
	border-radius: 10px;
}
.level>li a{
	color: black;
}
.level>li:hover{
	background:#DEB887;
}
.level>li:hover .dropdown{
	display: block;
}
.dropdown{
	margin: 0;
	width: 100px;
	 display: none;
	position: absolute;
	left: 0;
	top: 40px;
}
.dropdown li{
	padding-top: 10px;
	transition: 0.4s;
	cursor: pointer;
	margin: 0;
}

