<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

<!--    servlet-->
    <!--    进行图书搜索的servlet-->
    <servlet>
        <servlet-name>BooksPageDisplay</servlet-name>
        <servlet-class>servlet.BooksPageDisplayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BooksPageDisplay</servlet-name>
        <url-pattern>/BooksPageDisplay</url-pattern>
    </servlet-mapping>
    <!--  进行留言搜索的servlet  -->
    <servlet>
        <servlet-name>MessageBoard</servlet-name>
        <servlet-class>servlet.MessageBoardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageBoard</servlet-name>
        <url-pattern>/MessageBoard</url-pattern>
    </servlet-mapping>
    <!--    进行用户登入操作的servlet-->
    <servlet>
        <servlet-name>LoginS</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginS</servlet-name>
        <url-pattern>/loginS</url-pattern>
    </servlet-mapping>
    <!--    进行登入的servlet-->
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!--    进行修改账户信息的servlet-->
    <servlet>
        <servlet-name>modifyUser</servlet-name>
        <servlet-class>servlet.modifyUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyUser</servlet-name>
        <url-pattern>/modifyUser</url-pattern>
    </servlet-mapping>
    <!--    删除留言的servlet-->
    <servlet>
        <servlet-name>deleteMessage</servlet-name>
        <servlet-class>servlet.deleteMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteMessage</servlet-name>
        <url-pattern>/deleteMessage</url-pattern>
    </servlet-mapping>
    <!--    添加留言的servlet-->
    <servlet>
        <servlet-name>writeMessge</servlet-name>
        <servlet-class>servlet.WriteMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>writeMessge</servlet-name>
        <url-pattern>/writeMessage</url-pattern>
    </servlet-mapping>
<!--    进行文件显示的servlet-->
    <servlet>
        <servlet-name>displayFile</servlet-name>
        <servlet-class>servlet.displayFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>displayFile</servlet-name>
        <url-pattern>/displayFile/displayFile</url-pattern>
    </servlet-mapping>
<!--    进行文件上传的servlet-->
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>servlet.uploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/displayFile/upload</url-pattern>
    </servlet-mapping>
<!--    进行删除下载文件的servlet-->
    <servlet>
        <servlet-name>downloadFile</servlet-name>
        <servlet-class>servlet.downloadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>downloadFile</servlet-name>
        <url-pattern>/displayFile/downloadFile</url-pattern>
    </servlet-mapping>
<!--    进行删除文件的servlet-->
    <servlet>
        <servlet-name>deleteFile</servlet-name>
        <servlet-class>servlet.deleteFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteFile</servlet-name>
        <url-pattern>/displayFile/deleteFile</url-pattern>
    </servlet-mapping>
<!--    用于查看上传图片和文本的servlet-->
    <servlet>
        <servlet-name>viewOneFileByTxtImg</servlet-name>
        <servlet-class>servlet.viewOneFileByTxtImgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewOneFileByTxtImg</servlet-name>
        <url-pattern>/displayFile/viewOneFileByTxtImg</url-pattern>
    </servlet-mapping>
<!--    用于注册时查看用户名是否重复的servlet-->
    <servlet>
        <servlet-name>SameUserName</servlet-name>
        <servlet-class>servlet.SameUserNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SameUserName</servlet-name>
        <url-pattern>/administrator/SameUserName</url-pattern>
    </servlet-mapping>
<!--    用于添加图书是查看图号是否重复-->
    <servlet>
        <servlet-name>SameBookId</servlet-name>
        <servlet-class>servlet.SameBookId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SameBookId</servlet-name>
        <url-pattern>/administrator/SameBookId</url-pattern>
    </servlet-mapping>
<!--    用于响应借阅图书记录的ajax显示用户或图书是否存在-->
    <servlet>
        <servlet-name>BookAjax</servlet-name>
        <servlet-class>servlet.BookAjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookAjax</servlet-name>
        <url-pattern>/administrator/BookAjax</url-pattern>
    </servlet-mapping>
<!--用户-->
    <servlet>
        <servlet-name>UserAjax</servlet-name>
        <servlet-class>servlet.UserAjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAjax</servlet-name>
        <url-pattern>/administrator/UserAjax</url-pattern>
    </servlet-mapping>
<!--    响应添加用户的Servlet-->
<servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/administrator/doRegister</url-pattern>
    </servlet-mapping>
<!--    响应添加图书的servlet-->
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>servlet.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/administrator/doAddBook</url-pattern>
    </servlet-mapping>
<!--用于显示用户借阅信息的servlet,Ajax 并使用此来还书-->
    <servlet>
        <servlet-name>RetruenBorrowByUser</servlet-name>
        <servlet-class>servlet.ReturnBorrowByUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RetruenBorrowByUser</servlet-name>
        <url-pattern>/administrator/ReturnBorrowByUser</url-pattern>
    </servlet-mapping>
    <!--        用于归还图书的Ajax-->
    <servlet>
        <servlet-name>RetruenBook</servlet-name>
        <servlet-class>servlet.ReturnBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RetruenBook</servlet-name>
        <url-pattern>/administrator/ReturnBook</url-pattern>
    </servlet-mapping>
<!--    用于外借图书的servlet-->
    <servlet>
        <servlet-name>BorrowBook</servlet-name>
        <servlet-class>servlet.BorrowBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrowBook</servlet-name>
        <url-pattern>/administrator/BorrowBook</url-pattern>
    </servlet-mapping>
<!--    进行图书信息更改前查询的jsp-->
    <servlet>
        <servlet-name>BookMenage</servlet-name>
        <servlet-class>servlet.BookMenageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookMenage</servlet-name>
        <url-pattern>/administrator/BookMenage</url-pattern>
    </servlet-mapping>
<!--进行图书信息变更数据库操作-->
    <servlet>
        <servlet-name>ModifyBook</servlet-name>
        <servlet-class>servlet.ModifyBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyBook</servlet-name>
        <url-pattern>/administrator/ModifyBook</url-pattern>
    </servlet-mapping>
<!--    filter-->
<!--    过滤字符集-->
    <filter>
        <filter-name>CharacterFilter</filter-name>
        <filter-class>filter.CharacterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
<!--用户页面访问权限, 登入后可以使用其他功能-->
    <filter>
        <filter-name>UserId</filter-name>
        <filter-class>filter.UserIdFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserId</filter-name>
        <url-pattern>/borrowTools/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserId</filter-name>
        <url-pattern>/displayFile/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserId</filter-name>
        <url-pattern>/messageBoard/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserId</filter-name>
        <url-pattern>/userTools/*</url-pattern>
    </filter-mapping>
    <!--管理员权限过滤-->
    <filter>
        <filter-name>Administrator</filter-name>
        <filter-class>filter.AdministratorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Administrator</filter-name>
        <url-pattern>/administrator/*</url-pattern>
    </filter-mapping>
<!--    listener-->

</web-app>